<section class="card">
    <a href="/post/{{id}}">
        <header>{{title}}</a></header>

    <div class="post-details">
        <h3>{{post.title}}</h3>
        <p>Posted by: {{post.username}}</p>
        <p>Comment: {{ format_date post.created_date}}</p>
    </div>
</section>